# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/
data/processed/

# Generated models / graph files
models/*.pkl
models/*.joblib
models/*.csv

# Generated reports
reports/*.png
reports/*.csv
reports/*.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
